.auth-container {
  min-width: 400px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.auth-form {
  display: flex;
  flex-direction: column;

}

.prev-btn {

  height: 32px;
  width: 50px;
  padding: 7px;
  background-color: rgb(14, 158, 14);
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 40px;
  padding-left: 16px;


}

.auth-form h1 {
  margin-bottom: 20px;
  text-align: center;
}

.info {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 40px;
}


.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;

}

.input-group input:focus {
  outline: none;
  border-color: green;
}

button[type="submit"] {
  background-color: rgb(17, 138, 17);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #007bff;
}

.social-login {
  margin-top: 20px;
}

.social-login button {
  width: 100%;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.social-login button:hover {
  background-color: #f0f0f0;
}

.success-msg {
  margin-top: 20px;
  background-color: rgb(176, 126, 126);
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

@media screen and (max-width: 460px) {
  .auth-container {
    min-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .auth-container {
    min-width: 240px;
  }

}