.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 60px;

}

.navbar-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.navbar-icon {
  color: white;
  font-size: 28px;
  cursor: pointer;


}

.navbar-tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.navbar-item:hover .navbar-tooltip {
  opacity: 1;
  visibility: visible;
}